<h1>{{title}} </h1>
<p>Si falta documentación da click <a href="https://gist.github.com/nicobytes/ba2252b0b5ac2cbdafc40c0accd24862" target="_blank" rel="noopener noreferrer">aquí</a></p>
<ul>
  </ul>
<ul>
  @for (item of items; track item) {
    <li>{{ item }}</li>
    } @empty {
    <li>There are no items.</li>
    }
</ul>
<ul>
  @for (fruta of frutas; track fruta){
    <div>{{fruta}}</div>} @empty {
      <h3> nimares</h3>
    }
</ul>
<input type="text" [value]="name" >
<img [src]="img" alt="">
<button [disabled]="true">click me</button>
<div>
  <div class="card">
    <div class="card__section">
      <div class="col-4 m-4">
        <img
        [src]="person.avatar"
        [alt]="person.name"
        class="card__img">
      </div>
      <div class="col-4">
        <h1 class="card__text">{{person.name}} </h1>
        <p class="card__text" >{{person.age}} </p>
      </div>
    </div>
  </div>
</div>
<hr>
<app-todo></app-todo>
